.hidden {
  visibility: hidden;
}

.gone {
  display: none;
}

body {
  /*overflow-x: hidden;
  overflow-y: hidden;*/
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 2.5vh;
}

a, a:hover, a:focus, a:visited {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

#navi {
  background-color: #F4F8E6;
  width: 100%;
  min-height: 7vh;
  font-size: 3.3vh;
  line-height: 7vh;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  color: #5A5050;
  position: absolute;
  top: 0;
  z-index: 1000;
  -webkit-box-shadow: 0 3px 1vh 0 #333;
  -moz-box-shadow: 0 3px 1vh 0 #333;
  box-shadow: 0 3px 1vh 0 #333;
}

#navi>div {
  width: 100%;
  padding-top: 0.2vh;
  -webkit-transition: opacity 0.6s ease;
  -moz-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}

#navi-menu {
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

#navi-menu>div>span {
  padding-left: 2vh;
  padding-right: 2vh;
  height: 7vh;
  display: inline-block;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

#navi-menu>div>span:hover {
  cursor: pointer;
}

#navi-menu>#navi-home>span:hover, #navi-menu>#navi-home>.active {
  color: #847E89;
}

#navi-menu>#navi-book>span:hover, #navi-menu>#navi-book>.active {
  color: #589662;
}

#navi-menu>#navi-stat>span:hover, #navi-menu>#navi-stat>.active {
  color: #3EACA8;
}

#navi-menu>#navi-info>span:hover, #navi-menu>#navi-info>.active {
  color: #547A82;
}

#navi>#navi-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 9vh;
  height: 8vh;
  line-height: 8vh;
  font-size: 3.3vh;
  text-align: center;
}

#navi>#navi-collapse {
  padding: 0;
}

ul {
  margin-bottom: 0;
  border-top: 1px solid #5A5050;
}

#navi>#navi-collapse>div {
  height: 8vh;
  line-height: 8vh;
  padding-top: 0.2vh;
  font-size: 3vh;
}

#tiles {
  height: 90vh;
  margin-top: 7vh;
  position: relative;
}

#tiles>.tile {
  height: 100%;
  -webkit-transition: max-width 0.4s ease, flex 0.4s ease, background-color 0.4s ease;
  -moz-transition: max-width 0.4s ease, flex 0.4s ease, background-color 0.4s ease;
  transition: max-width 0.4s ease, flex 0.4s ease, background-color 0.4s ease;
}

#tiles>.tile-mobile {
  height: 28vh;
  max-height: 28vh;
  -webkit-transition: max-height 0.4s ease, height 0.4s ease, background-color 0.4s ease;
  -moz-transition: max-height 0.4s ease, height 0.4s ease, background-color 0.4s ease;
  transition: max-height 0.4s ease, height 0.4s ease, background-color 0.4s ease;
}

#book, #book-mobile {
  background-color: #589662;
}

#stat, #stat-mobile {
  background-color: #3EACA8;
}

#info, #info-mobile {
  background-color: #547A82;
}

.tile>.tile-img, .tile-mobile>.tile-mobile-img {
  opacity: 0.4;
  position: absolute;
  width: inherit;
  height: 100%;
}

#book>.tile-img, #book-mobile>.tile-mobile-img {
  background: url('../img/clock.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

#stat>.tile-img, #stat-mobile>.tile-mobile-img {
  background: url('../img/archive.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

#info>.tile-img, #info-mobile>.tile-mobile-img {
  background: url('../img/info.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

#foot {
  background-color: #5A5050;
  height: 3vh;
  color: #F4F8E6;
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-transition: height 0.4s ease;
  -moz-transition: height 0.4s ease;
  transition: height 0.4s ease;
}

#foot-mobile {
  background-color: #5A5050;
  height: 8vh;
  max-height: 8vh;
  color: #F4F8E6;
  -webkit-transition: height 0.4s ease, max-height 0.4s ease;
  -moz-transition: height 0.4s ease, max-height 0.4s ease;
  transition: height 0.4s ease, max-height 0.4s ease;
}

#foot-mobile-title {
  width: 100%;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  font-size: 3vh;
  line-height: 8vh;
}

#foot-title {
  font-size: 2vh;
  font-family: 'Russo One', sans-serif;
  line-height: 4.5vh;
  letter-spacing: 1px;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease 0.3s;
  -moz-transition: opacity 0.4s ease 0.3s;
  transition: opacity 0.4s ease 0.3s;
}

#foot-logo {
  position: absolute;
  width: 100%;
  height: 14.5vh;
  top: 4.5vh;
  background: url('../img/logo.gif') no-repeat;
  background-position: center;
  background-size: auto 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease 0.3s;
  -moz-transition: opacity 0.4s ease 0.3s;
  transition: opacity 0.4s ease 0.3s;
}

#foot-text-left {
  position: absolute;
  top: 10vh;
  right: 50%;
  text-align: right;
  padding-right: 13vh;
  line-height: 3.5vh;
  font-size: 2vh;
  opacity: 0;
  -webkit-transition: top 0.4s ease 0.3s, opacity 0.4s ease 0.3s;
  -moz-transition: top 0.4s ease 0.3s, opacity 0.4s ease 0.3s;
  transition: top 0.4s ease 0.3s, opacity 0.4s ease 0.3s;
}

#foot-text-left i {
  padding-left: 1.5vh;
}

#foot-text-right {
  position: absolute;
  top: 10vh;
  left: 50%;
  padding-left: 13vh;
  line-height: 3.5vh;
  font-size: 2vh;
  opacity: 0;
  -webkit-transition: top 0.4s ease 0.3s, opacity 0.4s ease 0.3s;
  -moz-transition: top 0.4s ease 0.3s, opacity 0.4s ease 0.3s;
  transition: top 0.4s ease 0.3s, opacity 0.4s ease 0.3s;
}

#foot-text-right i {
  padding-right: 1.5vh;
}

#foot-mobile i {
  padding-right: 1vh;
  display: inline;
}

#foot-copy {
  height: 3vh;
  line-height: 3vh;
  font-size: 1.2vh;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#foot-mobile-logo {
  position: absolute;
  top: 14.5vh;
  right: 60%;
  width: 9vh;
  height: 9vh;
  background: url('../img/logo.gif') no-repeat;
  background-position: center;
  background-size: auto 100%;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease 0.3s, top 0.6s ease 0.3s;
  -moz-transition: opacity 0.6s ease 0.3s, top 0.6s ease 0.3s;
  transition: opacity 0.6s ease 0.3s, top 0.6s ease 0.3s;
}

#foot-mobile-name {
  position: absolute;
  left: 45%;
  top: 14.5vh;
  font-family: 'Russo One', sans-serif;
  font-size: 2.5vh;
  line-height: 3vh;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease 0.3s, top 0.6s ease 0.3s;
  -moz-transition: opacity 0.6s ease 0.3s, top 0.6s ease 0.3s;
  transition: opacity 0.6s ease 0.3s, top 0.6s ease 0.3s;
}

#foot-mobile-copy {
  height: 3vh;
  margin-top: 57vh;
  line-height: 3vh;
  font-size: 1.2vh;
  width: 100%;
  text-align: center;
}

#foot a:hover {
  color: #3EACA8;
}

#foot-mobile-container {
  position: absolute;
  width: 100%;
  top: 28vh;
  padding-left: 3vh;
  padding-right: 3vh;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease 0.5s, top 0.6s ease 0.5s;
  -moz-transition: opacity 0.6s ease 0.5s, top 0.6s ease 0.5s;
  transition: opacity 0.6s ease 0.5s, top 0.6s ease 0.5s;
}

#foot-mobile a {
  background-color: #F4F8E6;
  color: #5A5050;
  padding: 2vh 0;
  margin-bottom: 3vh;
  text-align: center;
  font-size: 2vh;
  width: 100%;
}

.foot-mobile-button-left {
  padding-right: 1.5vh!important;
}

.foot-mobile-button-right {
  padding-left: 1.5vh!important;
}

.tile-title {
  position: absolute;
  width: 100%;
  font-family: 'Russo One', sans-serif;
  line-height: 90vh;
  text-align: center;
  top: 0;
  color: #F4F8E6;
  font-size: 3vh;
  letter-spacing: 2px;
  -webkit-transition: top 0.4s ease, font-size 0.4s ease, color 0.4s ease;
  -moz-transition: top 0.4s ease, font-size 0.4s ease, color 0.4s ease;
  transition: top 0.4s ease, font-size 0.4s ease, color 0.4s ease;
}

.tile-mobile-title {
  position: absolute;
  font-family: 'Russo One', sans-serif;
  line-height: 8vh;
  text-align: center;
  top: 11vh;
  width: 100%;
  padding-top: 0.2vh;
  color: #F4F8E6;
  font-size: 3vh;
  letter-spacing: 2px;
  -webkit-transition: top 0.4s ease, font-size 0.4s ease, color 0.4s ease;
  -moz-transition: top 0.4s ease, font-size 0.4s ease, color 0.4s ease;
  transition: top 0.4s ease, font-size 0.4s ease, color 0.4s ease;
}

.tile-line {
  width: 0;
  height: 0.5vh;
  position: absolute;
  top: 34vh;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: width 0.5s ease 0.4s;
  -moz-transition: width 0.5s ease 0.4s;
  transition: width 0.5s ease 0.4s;
}

.tile-mobile-line {
  width: 0;
  height: 1vh;
  position: absolute;
  top: 20vh;
  -webkit-transition: width 0.8s ease 0.4s;
  -moz-transition: width 0.8s ease 0.4s;
  transition: width 0.8s ease 0.4s;
}

#book>.tile-line, #book-mobile>.tile-mobile-line {
  background-color: #589662;
}

#stat>.tile-line, #stat-mobile>.tile-mobile-line {
  background-color: #3EACA8;
}

#info>.tile-line, #info-mobile>.tile-mobile-line {
  background-color: #547A82;
}

.tile-text {
  position: absolute;
  top: 45vh;
  opacity: 0;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  -webkit-transition: top 0.6s ease 0.2s, opacity 0.6s ease 0.2s;
  -moz-transition: top 0.6s ease 0.2s, opacity 0.6s ease 0.2s;
  transition: top 0.6s ease 0.2s, opacity 0.6s ease 0.2s;
}

.tile-mobile-text {
  position: absolute;
  top: 35vh;
  opacity: 0;
  padding-left: 20%;
  padding-right: 10%;
  text-align: right;
  -webkit-transition: top 0.6s ease 0.2s, opacity 0.6s ease 0.2s;
  -moz-transition: top 0.6s ease 0.2s, opacity 0.6s ease 0.2s;
  transition: top 0.6s ease 0.2s, opacity 0.6s ease 0.2s;
}

.tile-button {
  position: absolute;
  top: 59vh;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  height: 7vh;
  line-height: 6.2vh;
  font-size: 2.5vh;
  font-family: 'Russo One', sans-serif;
  text-align: center;
  background-color: none;
  opacity: 0;
  -webkit-transition: top 0.6s ease 0.4s, opacity 0.6s ease 0.4s, background-color 0.4s ease, color 0.4s ease;
  -moz-transition: top 0.6s ease 0.4s, opacity 0.6s ease 0.4s, background-color 0.4s ease, color 0.4s ease;
  transition: top 0.6s ease 0.4s, opacity 0.6s ease 0.4s, background-color 0.4s ease, color 0.4s ease;
}

.tile-mobile-button {
  position: absolute;
  top: 58vh;
  right: 10%;
  width: 50%;
  height: 7vh;
  line-height: 7vh;
  font-size: 2.5vh;
  font-family: 'Russo One', sans-serif;
  color: #F4F8E6;
  text-align: center;
  background-color: none;
  opacity: 0;
  -webkit-transition: top 0.6s ease 0.4s, opacity 0.6s ease 0.4s, background-color 0.4s ease, color 0.4s ease;
  -moz-transition: top 0.6s ease 0.4s, opacity 0.6s ease 0.4s, background-color 0.4s ease, color 0.4s ease;
  transition: top 0.6s ease 0.4s, opacity 0.6s ease 0.4s, background-color 0.4s ease, color 0.4s ease;
}

#book-mobile>.tile-mobile-button {
  background-color: #589662;
}

#stat-mobile>.tile-mobile-button {
  background-color: #3EACA8;
}

#info-mobile>.tile-mobile-button {
  background-color: #547A82;
}

#book>.tile-button {
  border: 0.5vh solid #589662;
  color: #333;
}

#book>.tile-button:hover {
  background-color: #589662;
  color: #F4F8E6;
  cursor: pointer;
}

#stat>.tile-button {
  border: 0.5vh solid #3EACA8;
  color: #333;
}

#stat>.tile-button:hover {
  background-color: #3EACA8;
  color: #F4F8E6;
  cursor: pointer;
}

#info>.tile-button {
  border: 0.5vh solid #547A82;
  color: #333;
}

#info>.tile-button:hover {
  background-color: #547A82;
  color: #F4F8E6;
  cursor: pointer;
}

.content-box {
  opacity: 0;
  height: 100%;
  background-color: #E5EEC1;
  position: absolute;
  -webkit-transition: opacity 0.4s linear;
  -moz-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}

.content-box-img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

#book-content>.content-box-img {
  background: url('../img/clock.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

#stat-content>.content-box-img {
  background: url('../img/archive.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

#info-content>.content-box-img {
  background: url('../img/info.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.content-box-content {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.content-box-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  line-height: 90vh;
  text-align: center;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.spinner {
  width: 15vh;
  height: 15vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  -moz-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

#book-content .content-box-loader .spinner {
  background-color: #589662;
}

#stat-content .content-box-loader .spinner {
  background-color: #3EACA8;
}

#info-content .content-box-loader .spinner {
  background-color: #547A82;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px)
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg)
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
  }
}

@-moz-keyframes sk-rotateplane {
  0% {
    -moz-transform: perspective(120px)
  }
  50% {
    -moz-transform: perspective(120px) rotateY(180deg)
  }
  100% {
    -moz-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@media (max-width: 990.5px) {
  #navi {
    min-height: 8vh;
    line-height: 8vh;
  }
  #tiles {
    margin-top: 8vh;
    height: 92vh;
  }
}

#accordion {
  padding: 10%;
}

@media (min-width: 1px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    padding-right: 0;
    padding-left: 0;
  }
  .row {
    margin-right: 0;
    margin-left: 0;
  }
}
